<!DOCTYPE html>
<html>
<body>
	<div class="currentSchedule">
		<h1>Current schedule: </h1>
		<p>Looks like this week's schedule is not out yet! Check in later, or add a new conflict.</p>
	</div>
	<h3>Your options:</h3>
	<div class="action-buttons">
		<form class="logout" method="get" action="logout">
    		<input type="submit" value="Logout"/>
		</form>
		<form class="add-new-conflict" method="get" action="newConflict">
			<input type="submit" value="Add New Conflict">
		</form>
	</div>
</body>
</html>